body, html {
  background-image: linear-gradient(to top, #ff9a9e 0%, #fecfef 99%, #fecfef 100%);
  background-repeat: no-repeat;
  height: 100%;
}

.activities-dashboard-wrapper {
  border: solid 1pt black;
  width: 80vw;
  display: flex;
  flex-direction: column;
  height: 50vh;
  justify-content: space-around;
  margin-left: auto;
  margin-right: auto;
}
.activities-dashboard {
  border: solid 1pt black;
  display: flex;
  width: 80vw;
  height: 20vh;
  justify-content: space-around;
  margin-left: auto;
  margin-right: auto;
}

.flights-of-stairs, .minutes-active, .number-of-steps {
  border: solid 3pt black;
  text-align: center;
  width: 10rem;
  line-height: 2.5;
  margin: 2rem;
}

.steps-wrapper {
  display: flex;
  justify-content: space-evenly;
  width: 80vw;
  height: 20vh;
  border: solid 1pt black;
  margin-left: auto;
  margin-right: auto;
}

.user-step-goal, .average-goal-steps {
  border: solid 3pt black;
  width: 10rem;
  text-align: center;
  line-height: 2.5;
  margin: 2rem;
}

.display-user-info {
  border: solid 1pt black;
  width: 80vw;
  height: 10vh;
  margin-left: auto;
  margin-right: auto;
}
.user-info {
  text-align: center;
}
.user-friends {
  width: 20vw;
}

p {
  margin: 0;
  border: 0;
  padding: 0;
}