body, html {
  background-image: linear-gradient(to top, #ff9a9e 0%, #fecfef 99%, #fecfef 100%);
  background-repeat: no-repeat;
  height: 100%;
}

.activities-dashboard-wrapper,.activities-dashboard,.display-user-info {
  border: solid 1pt black;
  width: 80vw;
  margin-left: auto;
  margin-right: auto;
}

.activities-dashboard-wrapper {
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.activities-dashboard {
  height: 20vh;
  display: flex;
  justify-content: space-around;
}

.flights-of-stairs,.minutes-active,.number-of-steps,.user-step-goal,.average-goal-steps {
  border: solid 3pt black;
  border-radius: 12px;
  text-align: center;
  width: 10rem;
  line-height: 2.5;
  margin: 2rem;
}

.steps-wrapper {
  display: flex;
  justify-content: space-evenly;
  width: 80vw;
  height: 20vh;
  border: solid 1pt black;
}

.display-user-info {
  height: 15vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.user-info {
  text-align: center;
}

.user-friends {
  width: 20vw;
}

p {
  margin: 0 0 10px 0;
  border: 0;
  padding: 0;
}

.welcome-message {
  font-size: 60px;
  text-align: center;
}
