:root {
  --page-background-color: lightcyan;
  --user-info-color: rgb(170,194,223);
  --step-goal-color: rgb(236, 146, 164);
  --hydration-color: rgb(175, 238, 238);
  --sleep-color: rgb(213, 242, 176);
  --friend-color: rgb(215, 187, 230);
  --section-border-radius: 12px;
}

body, 
html {
  background: var(--page-background-color);
  background-repeat: no-repeat;
  height: 100%;
  padding: 0;
  margin: 0;
}

header {
  display: block;
  width: 100vw;
  margin-right: auto;
  margin-left: 35px;
}

.welcome-message {
  font-size: 48px;
  text-align: center;
}

h3 {
  margin-top: 10px;
  margin-bottom: 10px;
}

p {
  margin: 0 0 10px 0;
  border: 0;
  padding: 0;
}

.user-id, 
.user-email, 
.user-address, 
.user-stride-length {
  font-size: 24px;
}

.user-info {
  font-size: 36px;
  border: 0;
  margin: 0 0 0 5;
}

.body-wrapper {
  display: flex;
  margin-left: 70px;
  border-radius: var(--section-border-radius);
}

.display-user-info {
  border: solid 1pt black;
  width: 80vw;
  margin-left: 10;
  height: 20vh;
  max-height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  border-radius: var(--section-border-radius);
  background-color: var(--user-info-color);
}

.activities-dashboard-wrapper {
  background-color: var(--step-goal-color);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: var(--section-border-radius);
  border: 1pt solid black;
}

.display-activities-dashboard {
  background-color: var(--page-background-color);
}

.display-activities-dashboard, 
.display-hydration-dashboard,
.display-sleep-dashboard {
  font-size: 30px;
  text-align: center;
  margin: 0;
}

.hydration-wrapper {
  background-color: var(--hydration-color);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: var(--section-border-radius);
  border: 1pt solid black;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 80vw;
  height: fit-content;
  border-radius: var(--section-border-radius);
}

.sleep-wrapper {
  border: 1pt solid black;
  border-radius: var(--section-border-radius);
  background-color: var(--sleep-color);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 80vw;
  height: fit-content;
}

.user-sleep-day, 
.user-sleep-week, 
.user-sleep-alltime {
  border: solid 3pt black;
  border-radius: var(--section-border-radius);
  text-align: center;
  width: 30rem;
  line-height: 2.5;
  margin: .5rem;
  height: 15rem;
}

.user-hydration-week,
.user-hydration-day,
.user-step-goal,
.average-goal-steps {
  border: solid 3pt black;
  border-radius: var(--section-border-radius);
  text-align: center;
  width: 25rem;
  line-height: 1.5;
  margin: .5rem;
  height: 12rem;
}

.user-hydration-day,
.user-hydration-week {
  background-color: var(--hydration-color);
}

.user-step-goal, 
.average-goal-steps {
  background-color: var(--step-goal-color);
}

.user-sleep-day,
.user-sleep-week,
.user-sleep-alltime {
  background-color: var(--sleep-color)
}

.user-friend {
  background-color: var(--friend-color);
  border: solid 3pt black;
  border-radius: var(--section-border-radius);
  text-align: center;
  width: 8rem;
  line-height: 2.5;
  height: 6rem;
  margin-left: 19px;
  
}

.friends-section {
  border: 1pt solid black;
  margin-left: 25px;
  text-align: center;
  border-radius: var(--section-border-radius);
  background-color: var(--friend-color);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.friends-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 580px;
  width: 175px;
}

.steps-wrapper {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 80vw;
  height: fit-content;
  border-radius: var(--section-border-radius);
}

.friends-header {
  font-size: 30px;
}

#user-step-goal-chart, 
#user-friends-average-goal-chart, 
#sleepHoursWeekChart {
  display: block;
  margin: auto;
  padding: 0;
}

.friends-and-sleep-input-container {
  display: flex;
  flex-direction: column;
  align-items: start; 
}

.sleep-input-form-wrapper {
  display: flex;
  flex-direction: column; 
  margin-top: 10px;
  margin-left: 15px;
  border: 2px solid black;
  border-radius: var(--section-border-radius);
  background-color: var(--sleep-color);
  height: fit-content;
  width: fit-content;
  align-items: center;
}

.enter-sleep-details {
  text-align: center;
}

label {
  display: block;
  margin-top: 15px;
  margin-bottom: 5px;
}

input {
  display: block;
  width: fit-content;
  margin-top: 5px;
}

#openModalBtn {
  display: block;
  width: fit-content;
  border-radius: 15%;
}

#submitBtn {
  display: block; 
  margin-top: 10px;
  border-radius: 15%;
  width: fit-content;
}

.user-sleep-day, 
.user-sleep-alltime {
  display: flex;
  justify-content: space-evenly;
}

.hours-slept-error-message,
.sleep-quality-error-message {
  color: red
}

.hidden {
  display: none;
}